<div class="container">
    <div class="flex mb-4">
        <!-- Credit to review -->
        <div class="w-3/4 credits-to-review">
            <!-- Credit to review Titlee -->
            <div class="LexendDeca">
                Credits to Review
            </div>
            <!-- Bottom part -->
            <div class="credits-to-review-grid">
                <div class="flex mb-5 ">
                    <!-- First row Title-->
                    <div class="w-2/5 LibreFranklin">
                        Course 
                    </div>
                    <div class="w-1/5 LibreFranklin">
                        Credits Fulfilled 
                    </div>
                </div>
                                <!-- Second row courses-->
                <div v-for="course in myCourses">

                    <div class="flex mb-5">
                        <div class="w-2/5 LexendDeca">
                            {{course.name}}
                        </div>
                        <div class="w-1/5 LexendDeca">
                            {{course.credit}} 
                        </div>
                        <div class="w-1/5 LexendDeca">
                            {{course.credit}}  
                        </div>
                        <div class="w-1/5 LexendDeca">
                            {{course.credit}} 
                        </div>
                    </div>
                </div>
                    <!-- Last section -->
                <div class="LexendDeca credits-to-review-center-bottom" > 
                    Total Completed Credits:
                </div>
                <div class="LexendDeca">
                    Needed Credits: 120
                </div>
                <div class="LexendDeca">
                    Expected Graduation Semester: Spring 2022
                </div>
            </div>
        </div>
        <!-- SEARCH -->
        <div class="w-1/4 search-section">
            <div class ="btn">
                <a-input placeholder="Search student record ..." />
                   
            </div>
            <div>
                Spencer young
            </div>
        </div>
    </div>

</div>
